/jsonschema/_version.py
/version.txt

_cache
_static
_templates

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.eggs/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
