file:.
furo
lxml
sphinx<9  # sphinx 9 appears to have issues I haven't diagnosed
sphinx-autoapi
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-json-schema-spec
sphinxcontrib-spelling
sphinxext-opengraph
