file:.#egg=jsonschema
furo
lxml
sphinx!=7.2.5
sphinx-autoapi
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-json-schema-spec
sphinxcontrib-spelling
sphinxext-opengraph

# Until pyenchant/pyenchant#302 is released...
pyenchant>=3.3.0rc1
